In [1]:
from pathlib import Path
print(f"Current Working Directory: {Path.cwd()}")

Current Working Directory: /Users/franciscolopezbarrera/Desktop/COLUMBIA/Fintech_Bootcamp/hw2_python/HW2-Python/PyBank

In [2]:
import csv

csvpath = Path('budget_data.csv')

In [3]:
profit_losses = []
line_num = 0
month_count = 0
net_profit = 0 
month_list = []
month_profit= 0
change = 0 
change_list = []
avg_change = 0

In [4]:
with open(csvpath, 'r') as csvfile:


    print(type(csvfile))
    
    csvreader = csv.reader(csvfile, delimiter=',')

    print(type(csvreader))
    
    header = next(csvreader)
    line_num += 1
  
    print(f"{header} <---- HEADER")
    
    for row in csvreader:
        
        month_count += 1
        month_list.append(str(row[0]))
        net_profit += int(row[1])
        month_profit = int(row[1])
        profit_losses.append(month_profit)
        
        if change != 0:

            month_profit = int(row[1])
            change = month_profit - change
            change_list.append(change)
            change = int(row[1])
            
        elif change == 0:
            change = int(row[1])

<class '_io.TextIOWrapper'>
<class '_csv.reader'>
['Date', 'Profit/Losses'] <---- HEADER

In [5]:
month_count

86

In [6]:
net_profit

38382578

In [7]:
total_change = sum(change_list)
total_change
avg_change = total_change / len(change_list)
avg_change

-2315.1176470588234

In [9]:
month_list.pop(0)
month_list

['Feb-10',
 'Mar-10',
 'Apr-10',
 'May-10',
 'Jun-10',
 'Jul-10',
 'Aug-10',
 'Sep-10',
 'Oct-10',
 'Nov-10',
 'Dec-10',
 'Jan-11',
 'Feb-11',
 'Mar-11',
 'Apr-11',
 'May-11',
 'Jun-11',
 'Jul-11',
 'Aug-11',
 'Sep-11',
 'Oct-11',
 'Nov-11',
 'Dec-11',
 'Jan-12',
 'Feb-12',
 'Mar-12',
 'Apr-12',
 'May-12',
 'Jun-12',
 'Jul-12',
 'Aug-12',
 'Sep-12',
 'Oct-12',
 'Nov-12',
 'Dec-12',
 'Jan-13',
 'Feb-13',
 'Mar-13',
 'Apr-13',
 'May-13',
 'Jun-13',
 'Jul-13',
 'Aug-13',
 'Sep-13',
 'Oct-13',
 'Nov-13',
 'Dec-13',
 'Jan-14',
 'Feb-14',
 'Mar-14',
 'Apr-14',
 'May-14',
 'Jun-14',
 'Jul-14',
 'Aug-14',
 'Sep-14',
 'Oct-14',
 'Nov-14',
 'Dec-14',
 'Jan-15',
 'Feb-15',
 'Mar-15',
 'Apr-15',
 'May-15',
 'Jun-15',
 'Jul-15',
 'Aug-15',
 'Sep-15',
 'Oct-15',
 'Nov-15',
 'Dec-15',
 'Jan-16',
 'Feb-16',
 'Mar-16',
 'Apr-16',
 'May-16',
 'Jun-16',
 'Jul-16',
 'Aug-16',
 'Sep-16',
 'Oct-16',
 'Nov-16',
 'Dec-16',
 'Jan-17',
 'Feb-17']

In [10]:
month_change_dict = dict(zip(month_list, change_list))
month_change_dict

{'Feb-10': 116771,
 'Mar-10': -662642,
 'Apr-10': -391430,
 'May-10': 379920,
 'Jun-10': 212354,
 'Jul-10': 510239,
 'Aug-10': -428211,
 'Sep-10': -821271,
 'Oct-10': 693918,
 'Nov-10': 416278,
 'Dec-10': -974163,
 'Jan-11': 860159,
 'Feb-11': -1115009,
 'Mar-11': 1033048,
 'Apr-11': 95318,
 'May-11': -308093,
 'Jun-11': 99052,
 'Jul-11': -521393,
 'Aug-11': 605450,
 'Sep-11': 231727,
 'Oct-11': -65187,
 'Nov-11': -702716,
 'Dec-11': 177975,
 'Jan-12': -1065544,
 'Feb-12': 1926159,
 'Mar-12': -917805,
 'Apr-12': 898730,
 'May-12': -334262,
 'Jun-12': -246499,
 'Jul-12': -64055,
 'Aug-12': -1529236,
 'Sep-12': 1497596,
 'Oct-12': 304914,
 'Nov-12': -635801,
 'Dec-12': 398319,
 'Jan-13': -183161,
 'Feb-13': -37864,
 'Mar-13': -253689,
 'Apr-13': 403655,
 'May-13': 94168,
 'Jun-13': 306877,
 'Jul-13': -83000,
 'Aug-13': 210462,
 'Sep-13': -2196167,
 'Oct-13': 1465222,
 'Nov-13': -956983,
 'Dec-13': 1838447,
 'Jan-14': -468003,
 'Feb-14': -64602,
 'Mar-14': 206242,
 'Apr-14': -242155,
 'May-14': -449079,
 'Jun-14': 315198,
 'Jul-14': 241099,
 'Aug-14': 111540,
 'Sep-14': 365942,
 'Oct-14': -219310,
 'Nov-14': -368665,
 'Dec-14': 409837,
 'Jan-15': 151210,
 'Feb-15': -110244,
 'Mar-15': -341938,
 'Apr-15': -1212159,
 'May-15': 683246,
 'Jun-15': -70825,
 'Jul-15': 335594,
 'Aug-15': 417334,
 'Sep-15': -272194,
 'Oct-15': -236462,
 'Nov-15': 657432,
 'Dec-15': -211262,
 'Jan-16': -128237,
 'Feb-16': -1750387,
 'Mar-16': 925441,
 'Apr-16': 932089,
 'May-16': -311434,
 'Jun-16': 267252,
 'Jul-16': -1876758,
 'Aug-16': 1733696,
 'Sep-16': 198551,
 'Oct-16': -665765,
 'Nov-16': 693229,
 'Dec-16': -734926,
 'Jan-17': 77242,
 'Feb-17': 532869}

In [11]:
max_value = max(month_change_dict.values())  
max_keys = [k for k, v in month_change_dict.items() if v == max_value] 

print(max_value, max_keys)

1926159 ['Feb-12']

In [12]:
min_value = min(month_change_dict.values())  
min_keys = [k for k, v in month_change_dict.items() if v == min_value]

In [13]:
print(min_value, min_keys)

-2196167 ['Sep-13']

In [16]:
print( f'Total Months: {month_count}')
print(f'Total: ${net_profit}')
print(f'Average  Change: ${avg_change}')
print(f'Greatest Increase in Profits: {max_keys} ${max_value}')
print(f'Greatest Decrease in Profits: {min_keys} ${min_value}')

Total Months: 86
Total: $38382578
Average  Change: $-2315.1176470588234
Greatest Increase in Profits: ['Feb-12'] $1926159
Greatest Decrease in Profits: ['Sep-13'] $-2196167

In [21]:
analysis = Path('analysis.txt')
with open(analysis, 'w') as txtfile:
        txtfile.write(f'\nTotal Months: {month_count}')
        txtfile.write(f'\nTotal: ${net_profit}')
        txtfile.write(f'\nAverage  Change: ${avg_change}')
        txtfile.write(f'\nGreatest Increase in Profits: {max_keys} ${max_value}')
        txtfile.write(f'\nGreatest Decrease in Profits: {min_keys} ${min_value}')

In [22]:
output = Path("output.csv")
with open(output, 'w') as csvfile:
    # Set the file object as a csvwriter object
    csvwriter = csv.writer(csvfile, delimiter=',')